<h1><%= @cat.name %></h1>

<a href="<%= cats_url %> cats index" >
    

<br/>
<ul>
    <li>Color: <%= @cat.color %></li>
    <li>Sex: <%= @cat.sex %></li>
    <li>Birth Date: <%= @cat.birth_date %></li>
    <li>Description: <%= @cat.description %></li>
    
    

</ul>

